[Unit]
Description=Unifi Network applicance

[Container]
Image={{ container_unifi_image }}
ContainerName=unifisvc
Label="unifi"
# Does not yet work with RHEL8 version of Podman, requires Podman 4.6+
# Sysctl=net.ipv4.ip_unprivileged_port_start=0
PodmanArgs=--sysctl net.ipv4.ip_unprivileged_port_start=0
User=999
Timezone=Europe/Berlin
Environment=UNIFI_STDOUT=true
RunInit=true
Volume=/srv/unifi:/unifi:Z
Volume=/srv/unifi/data:/unifi/data:Z
Volume=/srv/unifi/log:/unifi/log:Z
Volume=/srv/unifi/cert:/unifi/cert:Z
Volume=/srv/unifi/init.d:/unifi/init.d:Z
Volume=/srv/unifi/run:/var/run/unifi:Z
Volume=/srv/unifi/backup:/unifi/backup:Z

{% for item in container_unifi_ports %}
PublishPort={{ item.host_port }}:{{ item.pod_port }}/{{ item.proto }}
{% endfor %}

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target